{% extends "slide_base.html" %}

{% block slides %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<textarea id="text" ng-model="slideshow" class="form-control" rows="10" placeholder="Start your slides!"></textarea>
			<button type="button" class="btn btn-primary">Previous</button>
			<button type="button" id="show" class="btn btn-primary btn-success" >Show</button>
			<button type="button" class="btn btn-primary ">Next</button>
		</div>
		<div class="col-md-6">
			<div class="reveal">
				<div class="slides" ng-bind-html="slideshow">
					<!-- This space will be inserted from angular -->
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block slide_script %}
	angular.module('reveal', ['ngSanitize']);
{% endblock slide_script %}