{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

	<head>
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="{% static "reveal/css/reveal.css" %}">
		<link rel="stylesheet" href="{% static "reveal/css/theme/default.css" %}">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="{% static "reveal/lib/css/zenburn.css" %}">

		<script>
			// If the query includes 'print-pdf' we'll use the PDF print sheet
			var u = "reveal/css/print/" + ( window.location.search.match( /print-pdf/gi ) ? "pdf" : "paper" ) + ".css"
			document.write( "<link rel=\"stylesheet\" href=\"{{ STATIC_URL }}" + u + "\" type=\"text/css\" media=\"print\">" );
		</script>
	</head>

	<!-- Add angular.js 1.0.8 -->
	<script type="text/javascript" src="{% static "common/angular.min.js" %}"></script>
	<hr>
	<div class="container">
		<div class="row">
  		<div class="col-md-6">
  		<textarea ng-model="slides" class="form-control" rows="10" placeholder="Start your slides!"></textarea>
  		</div>
  		<div class="col-md-6">
  		{%verbatim%}
	  		<div class="reveal">
    			<div class="slides" ng-bind-html-unsafe="slides">
	    			<!-- This space will be inserted from angular -->
    			</div>
				</div>
			{%endverbatim%}
  		</div>
		</div>
	</div>

	<script src="{% static "reveal/lib/js/head.min.js" %}"></script>
	<script src="{% static "reveal/js/reveal.min.js" %}"></script>

	<script>

		// Full list of configuration options available here:
		// https://github.com/hakimel/reveal.js#configuration
		Reveal.initialize({
			controls: true,
			progress: true,
			history: true,
			center: true,

			transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/linear(2d)

			// Optional libraries used to extend on reveal.js
			dependencies: [
				{ src: "{% static "reveal/lib/js/classList.js" %}", condition: function() {
					return !document.body.classList; } },

				{ src: "{% static "reveal/plugin/markdown/marked.js" %}", condition: function() {
					return !!document.querySelector( '[data-markdown]' ); } },

				{ src: "{% static "reveal/plugin/markdown/markdown.js" %}", condition: function() {
					return !!document.querySelector( '[data-markdown]' ); } },

				{ src: "{% static "reveal/plugin/highlight/highlight.js" %}",
					async: true, callback: function() { hljs.initHighlightingOnLoad(); } },

				{ src: "{% static "reveal/plugin/zoom-js/zoom.js" %}", async: true, condition: function() {
					return !!document.body.classList; } },

				{ src: "{% static "reveal/plugin/notes/notes.js" %}", async: true, condition: function() {
					return !!document.body.classList; } },

        { src: "{% static "reveal/plugin/math/math.js" %}", async: true }
			]
		});

	</script>

{% endblock content %}